body {
  background-color: #fff;
}

.innisfree {
  font-weight: normal;
  padding: 10px 15px;
}

.innisfree .innisfree-list {
  margin-top:15px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  overflow: hidden;
  padding:0;
  position: relative;
}

.innisfree .innisfree-list .img img {
  width: 100%;
  height: auto;
  position: relative;
}

.innisfree .innisfree-list .substance {
  color: #000000;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 7px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.innisfree .innisfree-list .amount {
  font-size: 14px;
  padding: 0 10px;
}

.innisfree .innisfree-list .amount .yen {
  font-size: 14px;
  color: #f5a623;
}

.innisfree .innisfree-list .amount .num {
  font-size: 18px;
  color: #f5a623;
}

.innisfree .innisfree-list .amount span:nth-child(4) {
  margin-left: 8px;
}

.innisfree .innisfree-list .amount .num {
  font-size: 18px;
  color: #f5a623;
}

.innisfree .innisfree-list .immediately {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #f5a623;
  border-radius: 20px 0 0 0;
  color: #fff;
  font-size: 14px;
}
ul {
  -webkit-overflow-scrolling: touch
}