body {
  background-color: #fff;
}

.innisfree {
  font-weight: normal;
  padding: 10px 15px;
}

.am-list-body::before {
  background-color: #fff !important;
}

.am-list-body::after {
  background-color: #fff !important;
}